# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen
target/
*.jar
*.war
*.ear
src/main/resources/static/bower_components/
