
<div class="starter-template">
    <h1>Fictional TV</h1>
    <p class="lead">Channels Available<br> </p>
</div>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Number</th>
    </tr>
    <tr ng-repeat="channel in channels" ui-sref="viewChannelShows({ id: channel.id })">
        <td><img src="/images/{{channel.pic_name}}" alt="Channel Logo"></td>
        <td>{{channel.name}}</td>
        <td>{{channel.number}}</td>
    </tr>
</table>