<div class="starter-template">
    <p class="lead">
        <img src="/images/{{channel_shows[0].channel.pic_name}}" alt="Channel Logo"><br>
        Available Shows<br> </p>
</div>
<ul class="list-unstyled">
    <li ng-repeat="movie in channel_shows">
        <div class="media">
            <img class="mr-3" src="/images/shows/{{movie.pic_name}}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">{{movie.name}}</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

<br><br>
                <div class="btn-group">
                    <a class="btn btn-outline-success" ui-sref="presents({ id: movie.id })">Watch</a>
                    <a class="btn btn-outline-secondary" ui-sref="viewShow({ id: movie.id })">Read More</a>
                </div>
            </div>
        </div>
        <hr>
    </li>
</ul>

<div class="starter-template">
    <p class="lead">
        <a class="btn btn-outline-warning" ui-sref="channels">Go Back To Channels</a>
    </p>
</div>